<!DOCTYPE html>

<html lang="en">

<head>
    <title>Molecule of the Month</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>

    <h1> Welcome to the Molecule of the Month Web AR application</h1>

    <button class="btn2"><a href="/login">Log into CMS</a></button>

    <button class="btn"><a href="/molecule">Open app</a></button>

    <button class="btn3"><a href="/markerless">Experimental</a></button>

    <div id="instruction">
        <h2><b>How it works:</b></h3>
        <h3>1. Click the 'Open app' button above</h3>
        <h3>2. Focus your camera on the Hiro marker, then the molecule of the month will be rendered on top of it</h3>
        <h3>3. You can also rotate the molecule, zoom in and zoom out</h3>
        <h3>Please note: As this is a pure marker-based AR application, the marker should always be visible to the camera</h3>
    </div>
    

    <footer>
        <p>Image scource: https://www.ft.com/content/212f9436-9a03-11e6-8f9b-70e3cabccfae </p>
    </footer>


</body>

</html>
