body {
    background-image: url('../background/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 60px;
    font-family: verdana;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    position: absolute;
    top: 25%;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    font-size: 25px;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: verdana;
}
.btn2 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    font-size: 25px;
    padding: 16px 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: verdana;
}

footer {
    position: fixed;
    bottom: 0;
    color: grey;
}

a:link,
a:visited {
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
