body {
    background-image: url('../background/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}

#header {
    font-size: 60px;
    font-family: verdana;
    text-align: center;
    margin: 20px;
    padding: 0;
    color: white;
    position: relative;
    top: 50px;
    font-weight:bold;
}

.btn {
    background-color: white;
    padding: 5px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: verdana;
}
.btn a{
    font-size: 25px;
}

#btnloc{
    position: relative;
    top: 150px;
    text-align: center;
}

#instruction{
    color:black;
    font-family: verdana;
    margin: 20px,20px,20px,20px;
    padding: 5px;
    text-align: center;
    position: relative;
    top: 500px;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:rgba(250, 232, 232,0.75);
}

#fter {
    position: relative;
    top:600px;
    color: grey;
}

a:link,
a:visited {
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
